header {
    height: 5rem;
    background-color: var(--secondaryPinkColor);
    padding: 1rem;
    box-shadow: 0 0 15px 0 rgb(221, 172, 221);
}
header > h1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 5px;
    font-size: 24px;
    margin-left: 20px;
}